name: Publish

on:
  push:
    branches:
      - 'main'
    paths:
      - 'package.json'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          working_directory: .
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Publish
        shell: bash
        run: pnpm --filter dev -r publish --access public
